.marginTop4 {
    margin-top: 4rem;
}

.marginTop1 {
    margin-top: 1rem;
}

.window {
    padding: 2rem;
    margin: 0rem;
}

.marginTopWidth100PaddingSmall {
    margin-top: 1rem;
    width: 100%;
    padding: .3rem;
}